<h1 class="center">Edit
  <%= @item.title %>
</h1>
<form method="POST" action="/users/items/<%= @item.id %>">
  <input type="hidden" name="_method" value="PUT">
  <div>
    <input id="image" type="hidden" name="image" value="<%= @item.image %>">
    <input id="title" required name="title" value="<%= @item.title %>" />
    <label  for="title">Title</label>
  </div>
  <div>
    <textarea  id="desc" required name="description"><%= @item.description %></textarea>
    <label for="desc" >Description</label>
  </div>
  <button  type="submit">Save</button>
</form>
