<div class="row">
  <% @items.each do |item| %>
    <div class="col-sm-4 custom" >
      <div class="card ol d-flex custom" >
        <div class="card-body">
          <img class="card-img-top" src="<%= item.image %>" alt="Card image cap">
          <h4 class="card-title">
            <%= item.title %>
          </h4>
          <p class="card-text">
            <%= item.description %>
          </p>
        </div>
        <a class="btn" href="/users/profile/<%= item.id %>/edit">Edit</a>
        <form action="/users/profile/<%= item.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE" />
          <button>Delete</button>
        </form>
      </div>
    </div>
    <% end %>
</div>