<%= erb :navbar %>

<div>
  <% @items.each do |item| %>
        <div>
          <img src="<%= item.image %>" alt="Card image cap">
          <h4 >
            <%= item.title %>
          </h4>
          <p >
            <%= item.description %>
          </p>
        </div>
        <a href="/users/profile/<%= item.id %>/edit">Edit</a>
        <form action="/users/profile/<%= item.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE" />
          <button>Delete</button>
        </form>
    <% end %>
</div>